.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}

.hide + label {
    border-bottom: 1px dotted red;
    padding: 0;
    color: red ;
    cursor: pointer;
    display: inline-block; 
}

.hide:checked + label {
    color: green;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}


.demo {
    margin: 5% 10%;
}